# Predicting Pitches
For our project, we'll aim to solve the problem of predicting the next pitch a Major League Baseball Pitcher will throw during an at bat

In [1]:
import utils.utils as utils
import pandas as pd

In [2]:
dataframe = utils.get_pitcher_data_summary()
dataframe.head()

,player_id,boxname,rl,bats,status,team_abbrev,games_played,avg,hr,rbi,wins,losses,era,gid_final
0,112526,Colon,R,R,A,TEX,22,0.000,0,0,7,11,5.45,gid_2018_09_05_anamlb_texmlb_1
1,282332,Sabathia,L,L,A,NYY,27,0.000,0,0,8,7,3.77,gid_2018_09_27_nyamlb_tbamlb_1
2,425794,Wainwright,R,R,A,STL,8,0.091,0,1,2,3,4.08,gid_2018_09_28_slnmlb_chnmlb_1
3,425844,Greinke,R,R,A,ARI,31,0.226,0,4,14,11,3.21,gid_2018_09_26_lanmlb_arimlb_1
4,429719,"Jackson, E",R,R,A,OAK,17,0.000,0,0,6,3,3.18,gid_2018_09_26_oakmlb_seamlb_1

In [4]:
dataframe = utils.get_pitches_in_game('gid_2018_03_29_chnmlb_miamlb_1')
dataframe.head()

,tfs_zulu,type,pitch_type,start_speed,end_speed,outcome_pitch,des,game_id,pitcher,batter,outcome_at_bat,event,des,gid,player_id,boxname,rl,bats,team_abbrev
0,2018-03-29 16:43:11,X,FT,95.5,87.3,0.0,"In play, run(s)",ff055ab0-b78f-4fc1-aea3-e36d8900b76f,570632,664023,0.0,Home Run,Ian Happ homers (1) on a fly ball to right fie...,gid_2018_03_29_chnmlb_miamlb_1,570632,Urena,R,R,MIA
1,2018-03-29 16:43:57,B,FT,95.3,85.8,0.0,Ball,ff055ab0-b78f-4fc1-aea3-e36d8900b76f,570632,592178,0.0,Walk,Kris Bryant walks.,gid_2018_03_29_chnmlb_miamlb_1,570632,Urena,R,R,MIA
2,2018-03-29 16:44:11,B,FT,95.0,85.2,0.0,Ball,ff055ab0-b78f-4fc1-aea3-e36d8900b76f,570632,592178,0.0,Walk,Kris Bryant walks.,gid_2018_03_29_chnmlb_miamlb_1,570632,Urena,R,R,MIA
3,2018-03-29 16:44:31,S,FT,94.5,85.4,1.0,Swinging Strike,ff055ab0-b78f-4fc1-aea3-e36d8900b76f,570632,592178,0.0,Walk,Kris Bryant walks.,gid_2018_03_29_chnmlb_miamlb_1,570632,Urena,R,R,MIA
4,2018-03-29 16:44:49,B,CH,89.5,80.6,0.0,Ball,ff055ab0-b78f-4fc1-aea3-e36d8900b76f,570632,592178,0.0,Walk,Kris Bryant walks.,gid_2018_03_29_chnmlb_miamlb_1,570632,Urena,R,R,MIA

In [5]:
dataframe = utils.get_pitches_by_pitcher('570632') #TODO: Are these pitches ordered by pitching sequence?
dataframe.head()

,tfs_zulu,type,pitch_type,start_speed,end_speed,outcome_pitch,des,game_id,pitcher,batter,outcome_at_bat,event,des,gid,player_id,boxname,rl,bats,team_abbrev
0,2018-03-29 16:43:11,X,FT,95.5,87.3,0.0,"In play, run(s)",ff055ab0-b78f-4fc1-aea3-e36d8900b76f,570632,664023,0.0,Home Run,Ian Happ homers (1) on a fly ball to right fie...,gid_2018_03_29_chnmlb_miamlb_1,570632,Urena,R,R,MIA
1,2018-03-29 16:43:57,B,FT,95.3,85.8,0.0,Ball,ff055ab0-b78f-4fc1-aea3-e36d8900b76f,570632,592178,0.0,Walk,Kris Bryant walks.,gid_2018_03_29_chnmlb_miamlb_1,570632,Urena,R,R,MIA
2,2018-03-29 16:44:11,B,FT,95.0,85.2,0.0,Ball,ff055ab0-b78f-4fc1-aea3-e36d8900b76f,570632,592178,0.0,Walk,Kris Bryant walks.,gid_2018_03_29_chnmlb_miamlb_1,570632,Urena,R,R,MIA
3,2018-03-29 16:44:31,S,FT,94.5,85.4,1.0,Swinging Strike,ff055ab0-b78f-4fc1-aea3-e36d8900b76f,570632,592178,0.0,Walk,Kris Bryant walks.,gid_2018_03_29_chnmlb_miamlb_1,570632,Urena,R,R,MIA
4,2018-03-29 16:44:49,B,CH,89.5,80.6,0.0,Ball,ff055ab0-b78f-4fc1-aea3-e36d8900b76f,570632,592178,0.0,Walk,Kris Bryant walks.,gid_2018_03_29_chnmlb_miamlb_1,570632,Urena,R,R,MIA

In [6]:
dataframe = utils.get_pitches_with_batter('570632') #TODO: Are these pitches ordered by pitching sequence?
dataframe.head()

,gid,tfs_zulu,type,pitch_type,start_speed,end_speed,outcome_pitch,des,outcome_at_bat,event,...,avg,hr,rbi,current_position,bat_order,game_position,wins,losses,era,gid
0,gid_2018_03_29_chnmlb_miamlb_1,2018-03-29 16:43:11,X,FT,95.5,87.3,0.0,"In play, run(s)",0.0,Home Run,...,0.0,0,0,CF,1.0,CF,NaN,NaN,NaN,gid_2018_03_29_chnmlb_miamlb_1
1,gid_2018_03_29_chnmlb_miamlb_1,2018-03-29 16:43:57,B,FT,95.3,85.8,0.0,Ball,0.0,Walk,...,0.0,0,0,3B,2.0,3B,NaN,NaN,NaN,gid_2018_03_29_chnmlb_miamlb_1
2,gid_2018_03_29_chnmlb_miamlb_1,2018-03-29 16:44:11,B,FT,95.0,85.2,0.0,Ball,0.0,Walk,...,0.0,0,0,3B,2.0,3B,NaN,NaN,NaN,gid_2018_03_29_chnmlb_miamlb_1
3,gid_2018_03_29_chnmlb_miamlb_1,2018-03-29 16:44:31,S,FT,94.5,85.4,1.0,Swinging Strike,0.0,Walk,...,0.0,0,0,3B,2.0,3B,NaN,NaN,NaN,gid_2018_03_29_chnmlb_miamlb_1
4,gid_2018_03_29_chnmlb_miamlb_1,2018-03-29 16:44:49,B,CH,89.5,80.6,0.0,Ball,0.0,Walk,...,0.0,0,0,3B,2.0,3B,NaN,NaN,NaN,gid_2018_03_29_chnmlb_miamlb_1